@charset "utf-8";

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
html{
    font-size: 10px;
    font-family: 'SpokaHanSansNeo','sans serif';
}
:root{
    --main-color:#F2E9D8;
    --sub-color:#D97652;
    --box-color:#263140;
}
/* -------------------mabile version------------------- */
@media(max-width:390px){
    .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-text{
        display: none;
    }
    header{
        display: fixed;
        width: 100%;
        height: 76px;
        padding: 24px 20px;
        background-color: var(--main-color);
    }
    .logo{
        width: 92px;
        height: 28px;
        float: left;
    }

    header a{
        float: right;
    }

    /* ------------hero section----------- */
    section{
        background-color: var(--main-color);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 60px;

    
    }
    section h2{

        visibility: hidden;
    }
    section h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 40px;
        height: 90px;
    }
    section p{
        font-size: 1.4rem;
        margin-bottom: 30px;
        font-weight: 300;
        height: 98px;
    }
    section img{
        width: 198px;
        height: 422px;
       

    }

    .hero-textbox button{
        width: 118px;
        height: 40px;
        background-color: var(--sub-color);
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        border-radius: 40px;
        padding: 11px 24px;
        margin-bottom: 30px;
    }

    /* 히어로 섹션 고양이 발 부분 숨겨지게 넘어가는거 */
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        padding: 0 32px;
        text-align: center;

    }
    
    figure img{
        width: 326px;
        height: 190px;
        border-radius: 18px;
        object-fit: cover;
        margin-bottom: 40px;
    }
    figure h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    figure p{
        font-size: 1.4rem;
        font-weight: 300;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 390px;
        padding: 0 32px;
        margin-bottom: 60px;
       
    }
    article img{
        width: 260px;
        height: 260px;
        border-radius: 18px;
        margin-left: 20px;
         
    }
    .article-imgbox{
        width: 100%;
        display: flex;
         overflow: hidden;
    }
    article h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 30px;
        max-width: 326px;
        color: var(--sub-color);
    }
    .article-p{
        font-size: 1.6rem;
        font-weight: 300;
        max-width: 326px;
        margin-bottom: 40px;

    }
    .article-p strong{
        font-weight: 700;
        color: var(--sub-color);
    }
    .subscribe{
        width: 326px;
        height: 214px;
        margin-bottom: 50px;


    }
    .subscribe p{
        font-size: 1.4rem;
        font-weight: 300;
    }
    .subscribe button{
        font-size: 1.4rem;
        font-weight: 700;
        width: 126px;
        height: 40px;
        border-radius: 40px;
        background-color: var(--sub-color);
        color: #fff;
        margin-top: 30px;
        float: right;
    }
    .subscribe button::after{
        content: '';
        display: block;
        clear: both;
    }
    
    .footer-box{
        width: 326px;
        height: 348px;
        border-radius: 18px;
        background-color: var(--box-color);
        padding: 0px 32px;
        padding-top: 36px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
    }
    .footer-box h3{
        font-size: 2.4rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        text-align: start;
    }

    .footer-box p{
        font-size: 1.4rem;
        font-weight: 300;
        color: #F2E9D8;
        margin-bottom: 30px;
        text-align: start;
        
    }
    .footer-mail{
        display: flex;
        width: 262px;
        height: 40px;
        position: relative;
    }

    .footer-mail input{
        width: 100%;
        height: 100%;
        border-radius: 60px;
        border: none;
        text-align: center;
        font-size: 1.2rem;
        color: #767676;
        padding: 0;
    }
    .footer-mail img{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 11px;
        left: 30px;
    }
    .footer-box button{
        width: 118px;
        height: 40px;
        border-radius: 40px;
        background-color: var(--sub-color);
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: 20px;


    }
    .footer-background{
        max-width: 390px;
        width: 100%;
        height: 241px;
        background: url(/imges/img_5.jpg) no-repeat center / 100% auto;
        opacity: 50%;
        
    }
    footer{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    .footer-link{
        height: 178px;
        width: 100%;
    }
    .footer-link a img{
        color: var(--sub-color);
    }
   .logo{
    width: 112px;
    height: 34px;
    margin-bottom: 58px;
   }
   .footer-link{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
   }
   .footer-link div a{
    margin-right: 16px;
   }
   footer li{
    margin-bottom: 16px;
   }
   footer ul li a{
    font-size: 1.4rem;
    font-weight: 300;
    color: #767676;
   }
}